*{
    margin: 0;
    font-family: arial;
    border: border;
}

.navbar{
    height: 80px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar-logo{
    height: 60px;
    width: 100px;

}

.logo{
    background-image: url("amazon_logo.png");
    height: 60px;
    width: 100px;
    background-size: cover;
}

.border{
border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}
/**box2**/
.add-first{
    color: #cccccc;
    font-size: 0.5rem;
    margin-left: 25px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;

}
.add-icon{
    display: flex;
    align-items: center;
    flex-direction: row;
}
/**box3**/
.nav-search{
    display: flex;
    height: 30px;
    width: 1000px;
    border-radius: 10px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}